@import 'normalize.css';

.container {
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.basicFont {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    line-height: 1.5;
    font-weight: 500;
    margin-top: 0;
  margin-bottom: 0;
}
.logo {
font-weight: 600;
margin-bottom: 30px;
font-size: 75px;

}
.button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: rgb(90, 90, 237);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .button:hover {
    transition: 500ms background-color;
    background-color: black;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    padding: 25px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 40px;
}

.label {
    display: block;
    margin-bottom: 10px;
    color: #656262;
}
.labelContacts {
    margin-bottom: 10px;
    color: #3a3838;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.input {
    width: 300px;
    padding: 5px;
    border: 1px solid #8f8c8c;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 15px;
    margin-bottom: 8px;
    outline-color:rgb(90, 90, 237);
    transition-property: outline;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
    .input:not(:placeholder-shown):required:valid {
    outline-color: green;
    transition-property: outline;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .input:not(:placeholder-shown):required:invalid {
    outline-color: red;
    transition-property: outline;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .input:hover{
    border-color:rgb(90, 90, 237);
    transition: 500ms outline-color;
    }

    .contactsList {
    list-style: none;
    margin: 0px;
    }

    .contactInfo {
    font-size: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: #656262;;
    margin-bottom: 20px;
    }

    .buttonContacts {
        padding: 5px;
        border: none;
        border-radius: 8px;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        background-color: rgb(90, 90, 237);
        color:white;
        display: flex;
        align-items: center;
        justify-content: center;
       }
       .buttonContacts:hover {
        transition: 500ms background-color;
        background-color: black;
        color: white;
    }

    .loadingOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
      }

      .FetchLogo {
        margin-top: 150px;
      }

      .phoneBookLogo {
        text-decoration: none;
        color: white;
        font-size: 50px;
        font-family: monospace;
        font-weight: bold;
        padding-left: 50px;
        padding-right: 50px;
      }

      .phoneBookLogo:hover {
        transition: 400ms;
        background: rgba(0, 0, 0, 0.26);
        border-radius: 20px;
      }
      .phoneBookLogo:focus {
        transition: 400ms;
        background: rgba(0, 0, 0, 0.26);
        border-radius: 20px;
      }

      .contactsLogo {
        text-decoration: none;
        color: white;
        font-size: 50px;
        font-family: monospace;
        font-weight: bold;
        padding-left: 30px;
        text-align: right;
        padding-right: 30px;
      }
      .contactsLogo:hover {
        transition: 400ms;
        background: rgba(0, 0, 0, 0.26);
        border-radius: 20px;
      }
      .contactsLogo:focus {
        transition: 400ms;
        background: rgba(0, 0, 0, 0.26);
        border-radius: 20px;
      }


      .headerNav {
        text-align: right;

      }

      .linkHeader {
        text-decoration: none;
        padding-right: 10px;
        font-size: 25px;
        color: white;
        padding: 11px;
       }

       .linkHeader:hover {
        transition: 400ms;
        background: rgba(0, 0, 0, 0.26);
        border-radius: 20px;
       }
       .linkHeader:focus {
        background: rgba(0, 0, 0, 0.26);
        border-radius: 20px;
       }

      .logout {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      flex-direction: column;
      }
      .greetings {
        font-size: 30px;
        color: white;
      }

      .logoutBtn{
          padding: 10px;
          border: none;
          border-radius: 8px;
          font-size: 20px;
          cursor: pointer;
          transition: all 0.3s ease;
          background-color:white;
          color:black;
          display: flex;
          align-items: center;
          justify-content: center;
      }
      .logoutBtn:hover {
        background-color: black;
        color: white;
      }

      .logInLogo {
        font-weight: 600;
        margin-bottom: 30px;
        font-size: 35px;
        text-align: center;
        margin-bottom: 30px;
        font-family: monospace;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: lighter;
      }
      .registerLogo {
        font-weight: 600;
        margin-bottom: 30px;
        font-size: 35px;
        margin-bottom: 25px;
        text-align: center;
        font-family: monospace;
        font-weight: lighter;
      }